<% breadcrumb :myaccount_password %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="row pt-3 pb-5">
  <div class="col-sm-8 order-md-2 mb-3">
    <div class="card bg-white border-none shadow-sm">
      <div class="card-header font-weight-bold">
        パスワードの変更
      </div>
      <div class="card-body p-4">
        <%= simple_form_for(current_user, url: user_password_path, method: :patch, local: true) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>新しいパスワード<br />
                    （英数字8文字以上）
                  </th>
                  <td><%= f.input :password, label: false %></td>
                </tr>
                <tr>
                  <th>確認用パスワード<br />
                    （英数字8文字以上）
                  </th>
                  <td><%= f.input :password_confirmation, label: false %></td>
                </tr>
              </table>
              <div class="text-center">
                <%= f.submit class: "btn btn-danger btn-sm px-5" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'myaccount/sp_menu' %>
  </div>
  <div class="col-sm-4 order-md-1">
    <%= render 'myaccount/sidebar' %>
  </div>
</div>