<div class="edit-acount"> 
  <div class="edit-a">
      <div class="edit-user">
        <h2>Account details for <%= current_user.email %></h2>
      </div>
  </div>
  <div class="form-edit">
    <h2>Edit profile<%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-edit">
        <%= f.label :last_name, class: 'edit-name' %><br />
        <%= f.text_field :last_name, placeholder: 'Enter last_name', class: 'form-control input-lg'%>
      </div>

      <div class="form-edit">
        <%= f.label :first_name, class: 'edit-name' %><br />
        <%= f.text_field :first_name, placeholder: 'Enter first_name', class: 'form-control input-lg' %>
      </div>

      <div class="form-edit">
        <%= f.label :profile, class: 'edit-name' %><br />
        <%= f.text_area :profile, placeholder: 'Enter profile', class: 'form-control input-lg' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'btn-edit' %>
      </div>
      <%= link_to "トップページへ戻る", root_path, class: 'btn-top' %>
    <% end %>
  </div>
</div>

