<div class="row">
  <% if games.exists? %>
    <% games.each do |game| %>
      <div class="col-md-4 col-sm-6 pb-4">
        <%= link_to game_path(game) do %>
          <div class="card h-100">
            <div class="card-img-top">
              <%= image_tag game.image.url if game.image? %>
            </div>
          	<div class="card-body">
          		<p class="card-title font-weight-bold"><%= game.title %>（<%= game.game_brand %>）</p>
          		<p class="fs-12">（<%= game.reviews.count %>件のレビュー）</p>
          	</div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
  <div class="col-md-12">
    <p class="text-center">まだレビューが投稿されていません</p>  
  </div>
  <% end %>
</div>
<%= paginate games %>