<% provide :title, 'Home' %>
<!DOCTYPE html>
<html>
  <body lang="en-GB">
    <div class="swiper-slide">
      <main>
        <h1>ゲーマーのための攻略
        <br>
        交流サイト
        </h1>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <%= image_tag 'mario1.jpg'%>
          </div>
        </div>
        </div>
      </main>
    </div>
    <div class="wrapper">
      <div id="main" class="container-fluid" style="padding: 0">
        <ul id="section-list">
          <li>
            <section class="landing-page-section" id="top-content">
              <div class="container">
                <div class="section-well">
                  <%= render 'users/layouts/main-menus' %>
                </div>
              </div>
            </section>
          </li>
          <div class="container">
            <div class="row pt-3 pb-5">
              <div class="col-md-8">
                <%= cell(:notice).(:action_notices) %>
                <%= cell(:game).(:many_reviews) %>
                <%= cell(:review).(:some_reviews) %>
              </div>
              <div class="col-md-4">
                <%= render partial: 'users/shared/sidemenu' %>
              </div>
            </div>
          </div>
          <%# <%= render ab_test :landing_page_options %>
        </ul>
      </div>
    </div>
  </body>
</html>