<div class="container">
  <div class="col-sm-7">
    <div id="upper-section" class="row">
      <div class="footer-info col-xs-6 col-sm-4">
        <ul>
          <h3>ご利用ガイド</h3>
          <li><%= link_to 'よくある質問', root_path('#') %></li>
          <li><%= link_to '目的', root_path('#') %></li>
          <li><%= link_to '開発者メモ', root_path %></li>
          <li><%= link_to 'ご意見・ご要望はこちら', '#' %> </li>
          <li><%= link_to '各種お問い合わせはこちら', '#' %></li>
        </ul>
      </div>

      <div class="footer-info col-xs-6 col-sm-4">
        <ul>
          <h3>各種ソーシャルメディア</h3>
          <li>
            <a class="github" href="#" target="_blank" style="white-space: nowrap">
              <i class="fab fa-github fa-custom-social"></i>&nbsp;GitHub
            </a>
          </li>
          <li>
            <a class="Qiita" href="#" target="_blank" style="white-space: nowrap">
              <i class="fas fa-quran fa-custom-social"></i>&nbsp;Qiita
            </a>
          </li>
          <li>
            <a class="twitter" href="#" target="_blank" style="white-space: nowrap">
              <i class="fab fa-twitter fa-custom-social"></i></i>&nbsp;Twitter
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-info col-xs-12 col-sm-4">
        <ul>
          <h3>サイト情報</h3>
          <li>
            <a href="＃" target="_blank">運営会社</a>
          </li>
          <li>
            <a href="#" target="_blank">利用規約</a>
          </li>
          <li>
            <a href="#" target="_blank">プライバシーポリシー</a>
          </li>
          <li>
            <%= link_to '経営理念', root_path('#'), style: 'font-size: 0.9em;' %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-5 contact">
    <h3 class="footer_header">
      お問い合わせ
    </h3>
    <p>Send a my email to <%= mail_to '#', 'e-mail' %>.</p>
    <p>ほげ県ホゲホゲ市ホゲ区</p>
  </div>
</div>