<header class="masthead navbar-light" id="main_header">
<style>
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
</style>
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      Game　Reviews
    </a>

    <div id="account-controls" class="hidden-xs pull-right">
    <% if user_signed_in? %>
      <div class="login-signup">
        <ul class="dropdwn">
          <li>
            <%= current_user.email %>
            <ul class="dropdwn_menu">
              <a href="<%= user_path(current_user) %>">
                <li>
                <i class="fa fa-user fa-custom-accounts"></i>
                My Account</li>
              </a>
              <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow">
                <li>
                  <i class="fas fa-sign-out-alt fa-custom-accounts"></i>
                  Log out</li>
              </a>
            <ul>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
      <div class="login-signup">
        <ul class="dropdwn">
          <li>
            Hello!guest!
            <ul class="dropdwn_menu">
              <a href="<%= new_user_session_path %>">
                <li>
                <i class="fas fa-sign-in-alt fa-custom-accounts"></i></i>
                Log in</li>
              </a>
              <a href="<%= new_user_registration_path %>">
                <li>
                <i class="fas fa-sign-in-alt fa-custom-accounts"></i></i>
                Sign up</li>
              </a>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</header>

<div class="navbar navbar-inverse navbar-static-top collapse navbar-collapse hidden-sm navbar-dark navbar-light affix" id="nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-10">
        <ul class="nav navbar-nav nav-justified">
          <div class="nav-link">
            <li>
              <%= link_to reviews_path do %>
                <i class="fas fa-star"></i> みんなのレビュー
              <% end %>
            </li>
            <li>
              <%= link_to games_path do %>
                <i class="fas fa-search"></i> データベース
              <% end %>
            </li>
            <li>
              <%= link_to ranking_index_path do %>
                <i class="far fa-star"></i> ランキング
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-crown"></i> お気に入り
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fab fa-discourse"></i> 掲示板
              <% end %>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>