<!DOCTYPE html>
<html>
  <head>
    <title>Websiteapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/head' %>
  </head>

  <body>
    

    <body lang="en-GB">

    <%= render 'layouts/navbar' %>

    <%= yield %>
    <%# <% if current_user && current_user.incomplete? && new_user_session_url == request.referrer %>
      <%# <%= render 'layouts/require_users_profile' %>
    <%# <% end %>

    <footer id="footer">
      <%= render 'layouts/footer' %> 
    </footer>
  </body>
</html>
